.Button {
  border: none;
  border-radius: 0.2em;
  box-shadow: 0px 2px 8px hsla(0, 0%, 30%, 0.5);
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  width: fit-content;
}

.Button.medium {
  font-size: 1em;
  line-height: 1.1em;
}

.Button.contained {
  background-color: var(--primary);
  color: var(--primary-light);
}

.Button.fluidWidth {
  width: auto;
}
